<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://10.0.105.118:3306/westbahn</property>
        <property name="hibernate.connection.username">westbahnUser</property>
        <property name="hibernate.connection.password">westbahnPassword</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- JDBC connection pool {use the built-in} -->
        <property name="connection.pool_size">1</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="current_session_context_class">thread</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- Names the annotated entity class -->
        <mapping class="westbahn.model.Benutzer"/>
        <mapping class="westbahn.model.Ticket" />
        <mapping class="westbahn.model.Strecke"/>
        <mapping class="westbahn.model.Bahnhof"/>
        <mapping class="westbahn.model.Reservierung"/>
        <mapping class="westbahn.model.Zug"/>
        <mapping class="westbahn.model.Zeitkarte"/>
    </session-factory>
</hibernate-configuration>
